{% extends 'base.html.twig' %}
 
{% block title %}Mot de passe oublié{% endblock %}
 
{% block body %}
  <section class="section-padding">
    <h1 class="text-center text-custom-yellow my-3">Mot de passe oublié</h1>
    <div class="row justify-content-center ">
        <div class="col-10 form-info">
    <p class="text-center text-custom-yellow my-3">Saisissez votre email</p>
            <form method="post" class="d-flex justify-content-center">
            <input type="text" class="custom-field-form col-3" name="email">
            <button class="button-update-profile ml-2">Envoyer</button>
            </form>
        </div>
    </div>
    <p class="text-center text-custom-yellow my-3">Pensez à vérifié dans vos spam si le mail ne parvient pas a vos courriers principaux.</p>
</section>
{% endblock %}