{% extends 'base.html.twig' %}
 
{% block title %}Mot de passe oublié{% endblock %}
 
{% block body %}
    <h1>Réinitialisé le mot de passe</h1>

     <section class="section-padding">
    <div class="container">
        <div class="row">
            <form method="post" action="{{path('reset_forget_password', {'id' : id, 'token' : token })}}">
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group">
                    <input type="password" name="password1"/>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group">
                    <input type="password" name="password2"/>
                </div>
            </div>    

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mb-4 mt-4 d-flex justify-content-start">
                    <button  type='submit' class="col-md-6 button-update-profile">Mettre à jour</button>
                </div>
            </div>  
            </form>
        </div>
    </div>
</section>
{% endblock %}