{% extends 'base.html.twig' %}
 
{% block title %}Mot de passe oublié{% endblock %}
 
{% block body %}

    <section class="section-padding">
        <h1 class="text-center text-custom-yellow my-3">Réinitialiser le mot de passe</h1>
        <div class="row justify-content-center ">
            <div class="col-10 form-info">
            <p class="text-center text-custom-yellow my-3">Saisissez votre email</p>
                <form class="d-flex flex-column align-items-center justify-content-center" method="post" action="{{path('reset_forget_password', {'id' : id, 'token' : token })}}">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="form-group">
                        <input class="custom-field-form" type="password" name="password1" placeholder="Nouveau mot de passe"/>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="form-group">
                        <input class="custom-field-form" type="password" name="password2" placeholder="Confirmation de mot de passe"/>
                    </div>
                </div>    
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 mb-4 mt-4 d-flex justify-content-start">
                        <button  type='submit' class=" button-update-profile ml-2">Mettre à jour</button>
                    </div>
                </div>  
                </form>
            </div>
        </div>
    </section>
{% endblock %}