<form method="post" action="{{ path('trip_delete', {'id': trip.id}) }}" onsubmit="return confirm('Etes vous sûre de vouloir supprimer ce trajet ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trip.id) }}">
    <button type="submit" class="btn CO">Supprimer le trajet</button>
</form>
