{% extends 'base.html.twig' %}

{% block title %}Nouveau trajet{% endblock %}

{% block body %}
  {% for message in app.flashes('success') %}
            <div class="alert alert-success text-white">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-error text-white">
                {{ message }}
            </div>
        {% endfor %}
<div class="container">
    <h1 class="text-center">Publier un trajet</h1>

    {{ include('trip/_form.html.twig') }}
</div>
{% endblock %}
