{% extends 'base.html.twig' %}

{% block title %}New Trip{% endblock %}

{% block body %}
<div class="container">
    <h1>Proposer un trajet</h1>

    {{ include('trip/_form.html.twig') }}
</div>
{% endblock %}
