{% extends 'base.html.twig' %}

{% block title %}Nouveau trajet{% endblock %}

{% block body %}
<div class="container">
<div class="clear-section">
    <h1 class="text-center">Publier un trajet</h1>

    {{ include('trip/_form.html.twig') }}
</div>
</div>

{% endblock %}
{% block javascripts %}
    <script src="{{asset('assets/js/guessPlaces.js')}}"></script>
{% endblock %}