{% extends 'base.html.twig' %}

{% block title %}Rechercher un trajet{% endblock %}

{% block body %}
<div class="container">
    <h2 class="text-center my-5" >rechercher un trajet</h2>
    <form>
        <div class="form-row">
            <div class="col-md-3 col-sm-6 mt-3">
            <input name="departureSearch" type="text" class="form-control" placeholder="Départ">
            </div>
            <div class="col-md-3 col-sm-6 mt-3">
            <input name="arrivalSearch" type="text" class="form-control" placeholder="Arrivé">
            </div>
            <div class="col-md-3 col-sm-6 mt-3">
            <input name="dateSearch" type="date" class="form-control" placeholder="Arrivé">
            </div>
            <button class="btn btn-info col-md-3 col-sm-6 mt-3" type="submit">Rechercher</button>
        </div>
    </form>
</div>
{% endblock %}