{% extends 'base.html.twig' %}

{% block title %}New TravelPreferences{% endblock %}

{% block body %}
    <h1>Create new TravelPreferences</h1>

    {{ include('travel_preferences/_form.html.twig') }}

    <a href="{{ path('travel_preferences_index') }}">back to list</a>
{% endblock %}
